body{
font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #f7f8fc, #e3f2fd);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1{
font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);

}
#buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  margin-top:20px;
  justify-content: center;
  flex-wrap: wrap;
}

#buttons button {
  font-size: 32px;
  padding: 15px 25px;
  width:100px;
  height:100px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  transition: background 0.3s ease, transform 0.2s;
   display: flex;
  justify-content: center;
  align-items: center;
 border-radius: 50%;



}

#buttons button:hover {
  background-color: #1565c0;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
#result {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 280px;
  transition: all 0.3s ease;

}

#result p {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

#winner {
  font-size: 22px;
  font-weight: 600;
  color: #d32f2f;
}
.winner-line {
  margin-top: 15px;
  font-size: 20px;
}
